    .app-logo{
        display: block;
        margin-left: 1270px;
        margin-top: -20px;
        width: 25px;
        height:25px;
        cursor: pointer;
     } 
    .id-logo{
        display: block;
        margin-left: 1300px;
        margin-top: -31px;
        width: 40px;
        height:40px;
        cursor: pointer;
     } 
    .image-size{
            width: 250px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 120px;
            margin-bottom: 20px;
     } 
    .searchBtn{
            display: block;
            margin-left: 550px;
            margin-top: 20px;
            padding: 8px;
            background-color:#F0F0F0;
            color: #383838;
            border:transparent;
            cursor: pointer;
     }
    .feelingLuckyBtn{
            display: block;
            margin-left: 680px;
            margin-top: -30px;
            padding: 8px;
            background-color:#F0F0F0;
            color: #383838;
            border:transparent;
            cursor: pointer;
     }
    .searchField{
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 25px;
        border: 1px solid gray;  
        padding: 13px;
        width: 500px;
        height: 15px;
     }  
    .search-logo{
        display: block;
        position: absolute;
        overflow: hidden;
        margin-left: 420px;
        margin-top: 12px;
        width: 15px;
        height:15px;
     }   
    .voice-logo{
        display: block;
        position: absolute;
        overflow: hidden;
        margin-left: 910px;
        margin-top: 12px;
        width: 15px;
        height:20px;
     } 
    .paragraph{
        text-align: center;
        font-size: 13px;
        font-family: arial;
        margin-top: 30px;

     } 
    .language{
        text-align: center;
        font-size: 13px;
        font-family: arial;
        margin-top: -26px;
        margin-left: 140px;

     } 
    .footer{
        position: fixed;
        padding-top: 4px;
        padding-left: 18px;
        margin-top: 160px;
        width: 100%;
        background-color: #F0F0F0 ;
        color: #787878;
        border-top:solid #B8B8B8;
        border-width: 1px;
     } 
    .lineFooter{
         position: fixed;
        left: 0px;
        bottom:0px;
        width: 100%;
        padding-top: 8px;
        padding-bottom: 10px;
        padding-left: 20px;
        color: #787878;
         border-top:solid #B8B8B8;
         border-width: 1px;
         width: 100%;
     }
    a {text-decoration: none; } 
    a:visited {color:black;} 
